<div class="navContainer">
  <nav>
    <button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      Home
    </button>
    <button routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" mat-button [matMenuTriggerFor]="aboutMenu">
      About
    </button>
    <mat-menu #aboutMenu="matMenu">
      <button mat-menu-item>About Me</button>
      <button mat-menu-item>Profile</button>
    </mat-menu>
    <button routerLink="/skills" routerLinkActive="active" ariaCurrentWhenActive="page" mat-button [matMenuTriggerFor]="skillsMenu">
      Skills
    </button>
    <mat-menu #skillsMenu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button routerLink="/project" routerLinkActive="active" ariaCurrentWhenActive="page" mat-button [matMenuTriggerFor]="projectMenu">
      Project
    </button>
    <mat-menu #projectMenu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button routerLink="/postings" routerLinkActive="active" ariaCurrentWhenActive="page" mat-button [matMenuTriggerFor]="postingsMenu">
      Postings
    </button>
    <mat-menu #postingsMenu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
      Contact
    </button>
  </nav>
</div>
<router-outlet></router-outlet>
<footer>
  <!-- 
    1. 코어 열기
    2. 슬라이드 토글 설정
    3. 언어 메뉴 드롭다운
  -->
  <div class="FooterSettingButton">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <p><mat-slide-toggle labelPosition="before">Dark Mode</mat-slide-toggle></p>
      <mat-form-field>
        <mat-label>Set Language</mat-label>
        <mat-select>
          @for (language of languages; track language) {
          <mat-option [value]="language.value">{{language.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-menu>
  </div>
</footer>