<div class="navContainer">
  <nav>
    <ul>
      <li>
        <a routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/portfolio/about" routerLinkActive="active" ariaCurrentWhenActive="page">
          About
        </a>
      </li>
      <li><a routerLink="/portfolio/skills">
          Skills
        </a>
      </li>
      <li>
        <a routerLink="/portfolio/project">
          Project
        </a>
      </li>
      <li>
        <a routerLink="/portfolio/postings" routerLinkActive="active" ariaCurrentWhenActive="page">
          Postings
        </a>
      </li>
      <li>
        <a routerLink="/portfolio/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
          Contact
        </a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
